<div>
    <link href="./frame-ui-homeabout.css" rel="stylesheet" />
    <div>
      <div class="frame-ui-homeabout-frame-ui-homeabout">
        <span class="frame-ui-homeabout-text">
          <span>
            <span>Eco</span>
            <br />
            <span>Hub</span>
          </span>
        </span>
        <span class="frame-ui-homeabout-text05">
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt
          </span>
        </span>
        <img
          alt="Vector63843"
          src="/vector63843-qk8p.svg" 
          class="frame-ui-homeabout-vector63"
        />
        <img
          alt="Vector64844"
          src="/vector64844-s0y.svg"
          class="frame-ui-homeabout-vector64"
        />
        <span class="frame-ui-homeabout-text07"><span>MedTrack</span></span>
        <span class="frame-ui-homeabout-text09">
          <span>
            MedTrack adalah aplikasi berbasis web yang membantu Apoteker
            memonitoring ketersediaan obat, Dimana kita dapat melihat stok dan
            tanggal kadaluarsa obat tersebut tanpa harus mengecek secara manual.
          </span>
        </span>
        <span class="frame-ui-homeabout-text11">
          <span>
            MedTrack juga menampilkan history transaksi pembelian stok dan
            penjualan obat yang memudahkan dalam pendataan obat
          </span>
        </span>
        <img
          alt="Rectangle158411"
          src="/rectangle158411-qtu-500w.png"
          class="frame-ui-homeabout-rectangle15"
        />
        <img
          alt="Rectangle168412"
          src="/rectangle168412-r0th-200h.png"
          class="frame-ui-homeabout-rectangle16"
        />
        <div class="frame-ui-homeabout-group11">
          <span class="frame-ui-homeabout-text13"><span>Sign in</span></span>
        </div>
        <div class="frame-ui-homeabout-group12">
          <span class="frame-ui-homeabout-text15"><span>Log Out</span></span>
        </div>
        <img
          alt="search8413"
          src="/search8413-tfm9.svg"
          class="frame-ui-homeabout-search"
        />
        <img
          alt="pexelsdarialiudnaya7354480removebgpreview1845"
          src="/pexelsdarialiudnaya7354480removebgpreview1845-9d9-800h.png"
          class="frame-ui-homeabout-pexelsdarialiudnaya7354480removebgpreview1"
        />
        <img
          alt="Vector2288"
          src="/vector2288-ey8.svg"
          class="frame-ui-homeabout-vector"
        />
        <div class="frame-ui-homeabout-group6">
          <div class="frame-ui-homeabout-frameiconplus">
            <img
              alt="Vector1017"
              src="/vector1017-t6js.svg"
              class="frame-ui-homeabout-vector1"
            />
          </div>
          <div class="frame-ui-homeabout-frameiconmapmarker">
            <img
              alt="Vector1019"
              src="/vector1019-rmj.svg"
              class="frame-ui-homeabout-vector2"
            />
          </div>
          <div class="frame-ui-homeabout-group2">
            <span class="frame-ui-homeabout-text17"><span>MedTra k</span></span>
            <div class="frame-ui-homeabout-frameiconmoon">
              <img
                alt="Vector1015"
                src="/vector1015-sbmf.svg"
                class="frame-ui-homeabout-vector3"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  